{# Base html-view with Twitter-bootsrap & jQuery inclusion #}
<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="{% block robots %}noindex,nofollow{% endblock %}" />
        <link rel="author" href="/humans.txt" />
        <link
            rel="stylesheet"
            href="bootstrap/css/bootstrap.min.css"
            type="text/css" media="all"
        >
        <link
            rel="stylesheet"
            href="bootstrap/css/bootstrap-theme.min.css"
            type="text/css" media="all"
        >
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css" media="all">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <script src="bootstrap/js/bootstrap.min.js"></script>
        {% block bodyscripts '' %}
    </body>
</html>
