<div class="row">
    <div
        class="col-xs-{{ statistics.width }} pissed-off-meter pissed-off-meter-{{ statistics.width }}"
    >
    </div>
    <div class="col-sm-5 col-sm-offset-4">
        {% if statistics.width < 3 %}
            Hyvin menee
        {% elseif statistics.width < 6 %}
            Vitutusta on havaittavissa
        {% elseif statistics.width < 9 %}
            Melko runstasta vitutusta
        {% elseif statistics.width < 12 %}
            Jengii vituttaa ihan Simona
        {% endif %}
    </div>
</div>
