<div class="row">
    <div
        class="col-xs-{{ statistics.width }} pissed-off-meter pissed-off-meter-{{ statistics.width }}"
    >
    </div>
</div>
<h3>
{% if statistics.width < 3 %}
    Porukalla menee hyvin
{% elseif statistics.width < 6 %}
    Vitutusta on havaittavissa
{% elseif statistics.width < 9 %}
    Melko runstasta vitutusta
{% elseif statistics.width >= 9 %}
    Jengii vituttaa ihan Simona
{% endif %}
</h3>
