{% extends 'base.html.twig' %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content_header '' %}
{% block body %}
    <div class="container-fluid">
        {% include 'notifications.html.twig' %}
        {% block content '' %}
    </div>
{% endblock %}

{% set field_classes = 'col-sm-7 col-md-6' %}
{% set content_classes = 'col-lg-6 col-sm-6 col-sm-offset-3 col-xs-12 content-box' %}
{% set notification_classes = 'col-lg-4 col-sm-6 col-sm-offset-3 col-xs-12' %}

