<div class="row">
    <div class="{{ notification_classes }}" id="notification-container">
        {% for flashMessage in error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong> {{ flashMessage }}
                </div>
        {% endfor %}
        {% for flashMessage in notice %}
                <div class="alert alert-warning">
                    <strong>Notice!</strong> {{ flashMessage }}
                </div>
        {% endfor %}
        {% for flashMessage in message %}
                <div class="alert alert-info">
                    {{ flashMessage }}
                </div>
        {% endfor %}
    </div>
</div>
