{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Kuinka paljon vituttaa?</h1>
    <div class="row">
        <button class="btn btn-success btn-lg btn-block">Ei ollenkaan</button>
        <button class="btn btn-warning btn-lg btn-block">Semisti</button>
        <button class="btn btn-danger btn-lg btn-block">Paljon</button>
    </div>
{% endblock %}
