{% extends 'layout.html.twig' %}

{% block content %}
    <h1>T채m채n p채iv채n tulokset</h1>
    {% include 'graphic.html.twig' %}

    <div class="row">
        <a href="index.php" class="btn btn-link">Back</a>
    </div>
{% endblock %}
